@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@300&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
